/* t8.css - HTML 5 */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0px;
    padding: 0px;
    line-height: 1.6;

}

main {
    max-width: 960px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-height: 85vh;
}

output{
    font-size: 30px ;
}

button {
    padding: 20px 40px;
    border: none;
    background-color: #e74c3c;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #ff9900;
    transform: translateY(-3px);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

table {
    width: 100;
    border-collapse: collapse;
    margin: 20px 0;
    border: 2px solid #ff9900;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

td, th {
    padding: 25px;
    text-align: left;
    border: 1px solid #ff9900;
    font-size: 18px;
}

td {
    background-color: #ecf0f1;
}

th {
    background-color: #ff9900;
    color: white;
}

table tr:hover {
    background-color: #f1f1f1;
}


a{
    color: #fda500;
}

a:visited{
    color: #e74c3c;
}

footer {
    text-align: center;
    align-items: center;
    color: white;
    bottom: 0px !important;
    position: fixed !important;
    width: 100%;
}

footer p{
    font-size: 14px;
    background-color: #e74c3c;
    width: 76%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vh;
    padding: 10px;    
    border-radius: 5px;
}



.ad-moderne-left {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 10vw;
    height: fit-content;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 10;

}

.ad-moderne-right {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 10vw;
    height: fit-content;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.ad-container {
    margin: 10px 0;
    text-align: center;
}

.ad-moderne img {
    max-width: 100%;
    height: auto;
    display: block;
    z-index: 11;
}

.ad-moderne{
    display: block !important;
}